.HomePage{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .WomensHomePage{
        width: 100%;
        margin-top: 60px;
    }

    .links{
        text-decoration: none;
    }

    .textbox{
        position: absolute;
        margin-top: 18.5vw;
        text-align: left;
        margin-left: 60px;

        h2{
            font-size: 2.3vw;
            color: white;
            width: 50vw;
        }

        p{
            margin-top: -1.5vw;
            font-size: 0.95vw;
            color: white;
        }

        button{
            border: none;
            background-color: white;
            padding: 0.85vw 1.4vw;
            border-radius: 5rem;
            cursor: pointer;
            font-size: 0.9vw;
            font-weight: 700;
            text-align: center;
        }
    }

    .womansbanner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px 0px;

        .bannertxt{
            text-align: left;
            margin-left: 30px;
        }

        h5{
            margin-bottom: -20px;
            color: rgb(119, 119, 119);
        }

        h4{
            color: black;
            margin-right: 30px;
        }
    }

    .MensHomePage{
        width: 100%;
    }

    .mentextbox{
        position: absolute;
        // margin-top: -440px;
        margin-top: 15vw;
        color: white;
        text-align: left;
        margin-left: 60px;
        // width: 200vw;

        h2{
            font-size: 2.3vw;
            color: white;
            width: 50vw;
        }

        p{
            margin-top: -1.5vw;
            font-size: 0.95vw;
            color: white;
        }

        button{
            border: none;
            background-color: white;
            padding: 0.85vw 1.4vw;
            border-radius: 5rem;
            cursor: pointer;
            font-size: 0.9vw;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
    }

    .grid{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .productBox{
            display: flex;
            flex-direction: column;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: black;
            text-transform: capitalize;
            margin-right: 5px;
            margin-left: 5px;

            .newItem{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: -0.5vw;

                .topProduct{
                    display: flex;
                    align-items: center;
                    .bar{
                        font-size: 1.2rem;
                        margin-right: 3px;
                    }
    
                    .new{
                        font-size: 1.0rem;
                        font-weight: 700;
                    }
                }
            }

            .productImg{
                height: 26.9vw;
                width: 21.89vw;
            }

            .description{
                font-size: 1.2rem;
                width: 15.89vw;
                color: #444444;
                margin-right: 4.11vw;
                margin-top: -0.5vw;
            }

            .color{
                font-size: 1.0rem;
                width:15.89vw;
                color: #6e6e6e;
                margin-top: -0.7vw;
            }
        }
    }

    .bottomBanners{
        display: flex;
        justify-content: center;

        .mensBottomBanner{
            object-fit: cover;
            width: 45.5vw;
            height: 26.8vw;
            margin-right: 5px;
        }

        .BottomBanner{
            object-fit: cover;
            width: 43.8vw;
            height: 26.8vw;
            margin-left: 5px;
        }

        .MensBottomBannertxt{
            position: absolute;
            margin-right: 9vw;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 7vw;
            text-align: left;

            h2{
                font-size: 3.0rem;
                letter-spacing: 0.05rem;
                line-height: 10px;
                font-weight: 650;
            }

            button{
                margin-top: 10px;
                border: none;
                background-color: black;
                color: white;
                padding: 0.85vw 1.4vw;
                border-radius: 5rem;
                cursor: pointer;
                font-size: 1.3rem;
                font-weight: 700;
                text-align: center;
            }
        }

        .WomensBottomBannertxt{
            position: absolute;
            margin-left: 19vw;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 7vw;
            text-align: left;

            h2{
                font-size: 3.0rem;
                letter-spacing: 0.05rem;
                line-height: 10px;
                font-weight: 650;
            }

            button{
                margin-top: 10px;
                border: none;
                background-color: black;
                color: white;
                padding: 0.85vw 1.4vw;
                border-radius: 5rem;
                cursor: pointer;
                font-size: 1.3rem;
                font-weight: 700;
                text-align: center;
            }
        }
    }

    .bottomtxt{
        margin: 2vw 4.5vw;
        .Btxt{
            border: 0.5px solid #bbbcbc;
            text-align: left;
            padding: 10px 30px;
        }

        h5{
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 1px;
        }

        p{
            font-size: 1.2rem;
            color: #6e6e6e;
        }
    }
}

@media(max-width: 1234px){
    .HomePage{


        .WomensHomePageContainer{
            width: 200vw;
            overflow: hidden;
            .WomensHomePage{
                width: 300vw;
            }
        }

        .textbox{
            margin-top: 50vw;
            h2{
                font-size: 8vw;
                width: 80vw;
            }
            p{
                font-size: 4vw;
            }
            button{
                font-size: 3vw;
                padding: 3vw 4vw;
            }
        }

        .MensHomePageContainer{
            width: 200vw;
            overflow: hidden;
            .MensHomePage{
                width: 400vw;
            }
        }

        .mentextbox{
            margin-top: 65.5vw;
            h2{
                font-size: 8vw;
            }
            p{
                font-size: 4vw;
            }
            button{
                font-size: 3vw;
                padding: 3vw 4vw;
            }
        }

        .womansbanner{
            width: 200vw;
        }

        .grid{
            width: 200vw;
            .productBox{
                .newItem{
                    .topProduct{
                        .bar{
                            font-size: 1.8rem;
                        }
                        .new{
                            margin-top: 32px;
                            font-size: 1.6rem;
                        }
                    }
                    .price{
                        margin-top: 32px;
                        font-size: 1.6rem;
                    }
                }

                .productImg{
                    height: 55vw;
                    width: 47vw;
                }

                .description{
                    width: 30vw;
                    font-size: 1.8rem;
                }

                .color{
                    font-size: 1.6rem;
                }
            }
        }

        .bottomBanners{
            width: 200vw;
            overflow: hidden;
            .MensBottomBannertxt{
                margin-top: 20vw;
                margin-right: 30vw;
                h2{
                }

                button{
                    margin-top: -1.5vw;
                    padding: 2vw 3.5vw;
                }
            }
            .mensBottomBanner{
                width:95vw;
                height: 70vw;
            }

            .WomensBottomBannertxt{
                margin-left: 35vw;
                margin-top: 20vw;
                button{
                    margin-top: -1.5vw;
                    padding: 2vw 3.5vw;
                }
            }

            .BottomBanner{
                width:95vw;
                height: 70vw;
            }
        }

        .bottomtxt{
            width: 192vw;
        }

    }
}

@media(max-width: 774px){
    .HomePage{

        .WomensHomePageContainer{
            width: 200vw;
            overflow: hidden;
            .WomensHomePage{
                width: 435vw;
            }
        }
        .textbox{
            width: 150vw;
            margin-top: 70vw;
            h2{
                width: 150vw;
                font-size: 11vw;
            }
            p{
                margin-top: -5vw;
                font-size: 7vw;
            }
            button{
                font-size: 6vw;
                padding: 4vw 5vw;
            }
        }

        .MensHomePageContainer{
            width: 200vw;
            overflow: hidden;
            .MensHomePage{
                width: 435vw;
            }
        }

        .mentextbox{
            width: 150vw;
            margin-top: 70vw;
            h2{
                width: 150vw;
                font-size: 11vw;
            }
            p{
                margin-top: -5vw;
                font-size: 7vw;
            }
            button{
                font-size: 6vw;
                padding: 4vw 5vw;
            }
        }

        // .womansbanner{
        //     width: 200vw;
        // }

        .grid{
            flex-wrap: wrap;
            .productBox{
                .newItem{
                    .topProduct{
                        .bar{
                            font-size: 1.6rem;
                        }
                        .new{
                            margin-top: 28px;
                            font-size: 1.4rem;
                        }
                    }
                    .price{
                        font-size: 1.4rem;
                    }
                }
                .productImg{
                    height: 100vw;
                    width: 90vw;
                }
                .description{
                    width: 90vw;
                }
                .color{
                    width: 90vw;
                }
            }
        }

        .bottomBanners{
            display: flex;
            flex-direction: column;
            .MensBottomBannertxt{
                margin-bottom: 150vw;
                margin-left: 150vw;
                button{

                }
            }
            .mensBottomBanner{
                width: 192vw;
                height: 110vw;
            }

            .WomensBottomBannertxt{
                margin-top: 105vw;
                margin-left: 10vw;
                button{

                }
            }

            .BottomBanner{
                width: 192vw;
                height: 110vw;
            }
        }
    }
}