.Products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .AccessoriesMainBanner{
        width: 100%;
    }

    .bannertxt4{
        position: absolute;
        color:white;
        margin-top: 12vw;
        font-weight: 700;
        font-size: 14px;
        margin-right: 80vw;
        text-align: left;
        letter-spacing: 2px;
        .bannertxt2{
            font-size: 35px;
        }
    }

    .links{
        text-decoration: none;
    }

    .productBox{
        margin-top: 30px;
        margin-left: 4px;
        margin-right: 4px;
        color: black;
        .productImg{
            height: 21.3vw;
            width: 18vw;
        }
    
        .toptxt{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-top: -1vw;
            align-items: flex-start;
            text-transform: capitalize;
            .description{
                font-size: 16px;
                width: 11.5vw;
                text-align: left;
            }
            h4{
                margin-top: 16px;
            }
    
        }
    
        .color{
            text-transform: capitalize;
            font-size: 14px;
            width:15.89vw;
            color: #6e6e6e;
            margin-top: -0.7vw;
            text-align: left;
        }
    }

    .bottomtxt{
        margin: 2vw 4.5vw;
        width: 93vw;

        .Btxt{
            border: 0.5px solid #bbbcbc;
            text-align: left;
            padding: 10px 30px;
        }

        h5{
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
        }

        p{
            font-size: 14px;
            color: #6e6e6e;
        }
    }
}

@media(max-width: 1234px){
    .Products{
        .AccessoryMainBannerContainer{
            width: 200vw;
            overflow: hidden;
            .AccessoriesMainBanner{
                width: 180vw;
                // height: 80vw;
            }
        }

        .bannertxt4{
            margin-top: 22vw;
            font-size: 1.0rem;
            margin-left: 120px;
            .bannertxt2{
                font-size: 2rem;
            }
        }

        .productBox{
            .productImg{
                width: 22vw;
                height: 26vw;
            }
            .toptxt{
                .description{

                }
                h4{

                }
            }

            .color{

            }
        }
    }
}

@media(max-width: 774px){
    .Products{
        .AccessoryMainBannerContainer{
            margin-top: 60px;
            width: 100%;
            overflow: hidden;
            height: auto;
            .AccessoriesMainBanner{
                // object-fit: cover;
                // width: 350vw;
            }
        }

        .bannertxt4{
            margin-top: 27vw;
            font-size: 1.0rem;
            margin-left: 190px;
            .bannertxt2{
                font-size: 2rem;
            }
        }

        .productBox{
            // width: vw;
            .productImg{
                width: 46vw;
                height: 50vw;
            }
            .toptxt{
                .description{
                    width: 16vw;
                }
                h4{

                }
            }

            .color{

            }
        }
    }
}