footer{
    width: 100%;
    height: 400px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(233, 233, 233);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    .left-container{
        width: 50%;
        padding: 0 0px;
        font-size: 1.2rem;
        .homebtn{
            height: 20px;
            width: 120px;
        }
        .paymentlogos{
            height: 20px;
            display: flex;
            flex-direction: row;
            padding: 20px 15px;
            margin-top: 120px;
            .creditCard{
                height: 40px;
                // padding-top: 10px;
            }
            .applePay{
                height:20px;
                margin-top:10px;
            }
            .visa{
                height:45px;
                margin-top: -2px;
            }
            .paypal{
                width: 45px;
                height: 45px;
                margin-top: -2px;
            }
            .americanExpress{
                width: 35px;
                height: 32px;
                margin-top: 4px;
            }
        }
        .lists{
            .links{text-decoration: none;}
            display: flex;
            height: 120px;
            text-align: left;
            ul{
                list-style-type: none;
                padding: 0px;
                margin-left: 10px;
                width: 160px;
            }
            li{
                // font-size: 11px;
                margin: 10px 0px;
                color: #6e6e6e;
                text-decoration: none;
            }
            h5{
                margin-left: 10px;
            }
        }
    }

    .right-container{
        height: 200px;
        width: 50%;
        text-align: right;
        padding: 0px 0px;
        margin-right: 10px
        ;
        .gymsharkBlog{
            height: 20px;
            width: 100px;
        }
        .emailInput{
            line-height: 3.5rem;
            width: 19vw;
            font-size: 1.2rem;            
            color: #6e6e6e;
            border: 1px solid #eee;
        }
        h5{
            letter-spacing: 1px;
        }
        .blogBtn{
            background-color: black;
            border: none;
            color: white;
            height: 3.79rem;
            width: 3.79rem;
            font-size: 1.2rem;
        }

        a{
            color: #6e6e6e;
        }
    }
}

@media(max-width: 1234px){
    footer{
        // width: 150vw;
    }
}

@media(max-width: 773px){
    footer{
        // justify-content: center;
        align-items: center;
        .homebtn{
            // align-items: left;
            // margin-right: 100vw;
            width: 20vw;
            // margin-right: 0px;
            align-items: left;
        }
        display: flex;
        flex-direction: column;
        .left-container{
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            width: 100%;

            .lists{
                justify-content: center;
                ul{
                    width: 20vw;
                }
            }
        }

        .right-container{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            .gymsharkBlog{
                // margin-left: 20px;
                // padding-left: 30vw;
            }
            .emailStuff{
                display: flex;
                .emailInput{
                    width: 60vw;
                }
            }
        }
    }
}