.Failure{
    .FailureBox{
        padding-top: 70px;
        h2{
            text-transform: uppercase;
            font-size: 2.0rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
    .links{
        color: #6e6e6e;
    }
}